body {
    font-family: 'Lato', sans-serif;
    background: #F5F5F5;
}

.container {
    width: 100%;
    max-width: 50%;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaa;
    overflow: hidden;
}

#todo-list {
    padding: 20px;
    font-size: 30px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(7, 104, 235, 1) 100%);
}

#todo-list h2 {
    color: #FFF;
    text-align: center;
}

.text {
    width: 70%;
    max-width: 750px;
    padding: 12px 20px;
    margin-left: 50px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background: #F5F5F5;
    font-size: 15px;
}

.button {
    width: 80px;
    padding: 12px;
    margin: 8px 20px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    background: #F5F5F5;
    cursor: pointer;
    font-size: 15px;
}

#error-message {
    font-family: 'Lato', sans-serif;
    font-size: medium;
    margin-left: 50px;
    font-weight: bolder;
    color: #333;
    -webkit-text-stroke: 1px #282828;
}

.listed {
    background: #FFF;
    font-size: 30px;
    padding: 1px 20px;
}

.listed h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

#tasks-list {
    list-style-type: none;
    margin: 10px 5px;
    padding: 0;
}

.task {
    margin-bottom: 15px;
    border-radius: 5px;
    background: #eee;
    padding: 6px 15px;
}

.fa-xmark {
    color: red !important;
    font-size: 20px;
    padding-left: 10px;
}

.fa-check {
    color: cornflowerblue !important;
    font-size: 20px;
}

.add-urg {
    border: 2px solid red;
}

.checked {
    border: 2px solid green;
}

.icon-check,.icon-remove {
    float: right;
}

.count {
    width: 100%;
    max-width: 50%;
    margin: 10px 500px;
}